@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;800&display=swap");

:root {
  --primary-color: #131313;
  --secondary-color: #eee;
  --primary-font: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

header .logo img {
  color: var(--secondary-color);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  list-style: none;
  padding: 0.8rem;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Lexend Deca", sans-serif;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
}

header nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header .logo {
    width: 100%;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header nav ul li {
    padding: 1rem;
  }
}
