@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap");

:root {
  --primary: #f72e2a;
  --secondary: #ffeffa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  color: var(--primary);
}

body {
  padding: 2.5em;
  overflow: hidden;
  background-color: var(--secondary);
  transition: all 0.5s ease;
}

main,
div,
article,
.nav-item {
  border: 2px solid var(--primary);
}

.no-border {
  border: 0;
}

a:hover,
a:focus {
  border-bottom: 2px solid var(--primary);
  outline: none;
}

.active {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-width {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 3fr 3fr 3fr;
  width: 100%;
  height: calc(100vh - 5em);
}

.nav-item {
  appearance: none;

  grid-column: span 2;
  border-left: 0;
  border-top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:first-child,
.nav-item:first-child h1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.3rem, 1.2474rem + 0.2105vw, 1.5rem);
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
}

/* last child wasnt working */
.nav-item:nth-child(5) {
  border-right: 0;
}

article {
  grid-column: span 5;
  grid-row: span 3;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  overflow: auto;
}

article p {
  font-size: clamp(1.25rem, 1.1842rem + 0.2632vw, 1.5rem);
  text-align: center;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-family: "Space Mono", monospace;
  margin-bottom: 0.5em;
}

form {
  grid-column: span 5;
  grid-row: span 3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

label {
  display: none;
}

input {
  border: 0;
  border-bottom: 2px solid var(--primary);
  padding: 0.5em;
  background: transparent;
  color: var(--primary);
  text-align: center;
  font-size: clamp(1.25rem, 0.9211rem + 1.3158vw, 2.5rem);
  font-family: "Space Mono", monospace;
}

input[type="submit"] {
  background: transparent;
  color: var(--primary);
  cursor: pointer;
  border-bottom: 0;
}

input:focus,
.nav-item:focus {
  box-sizing: border-box;
  border: 5px solid var(--primary);
  border-bottom: 7px solid var(--primary);
  border-right: 7px solid var(--primary);
  outline: none;
}

input[type="submit"]:hover,
.nav-item:hover {
  color: var(--secondary);
  background: var(--primary);
  cursor: pointer;
}

.nav-item:hover nav-item:first-child {
  color: var(--primary);
  background: var(--secondary);
}

input::placeholder {
  color: var(--primary);
  opacity: 1;
}

input:focus::placeholder {
  opacity: 0.5;
}

footer {
  width: 100%;
  margin-top: -4px;
}

footer small {
  position: relative;
  bottom: -5em;
  transition-duration: 0.5s;
  transition-timing-function: bezier(0.68, -0.55, 0.265, 1.55);
}

footer span {
  color: var(--primary);
  font-size: 2.5rem;
  position: relative;
}

footer span:hover {
  cursor: pointer;
}

footer span:hover ~ small {
  bottom: 0.25em;
}

.icon-large,
.icon-small {
  filter: invert(31%) sepia(54%) saturate(6978%) hue-rotate(346deg)
    brightness(99%) contrast(96%);
}

.icon-large {
  width: 6em;
  height: 6em;
}

.spin {
  animation: spin 12s linear infinite;
  position: relative;
  top: 1em;
  right: 1em;
  opacity: 0.7;
  z-index: -1;
}

.bottom-left {
  position: absolute;
  bottom: 4em;
  left: 4em;
}

.spin:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .nav-item {
    grid-column: span 1;
    grid-row: 2;
  }

  .nav-item:first-child {
    grid-column: span 4;
    grid-row: 1;
  }

  article {
    grid-column: span 2;
    grid-row: span 4;
    padding: 1em;
  }

  article h2 {
    font-size: 1.5rem;
  }

  article p {
    font-size: 1rem;
  }

  .spin {
    display: none;
  }

  form {
    grid-column: span 2;
    grid-row: span 4;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  input {
    padding: 0.1em;
    font-size: clamp(1.1rem, 0.9947rem + 0.4211vw, 1.5rem);
  }
}

@media (max-width: 650px) {
  body {
    overflow: auto;
    padding: 0.25em;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(14, 1fr);
  }

  /* each nav item spans 2 columns */
  .nav-item {
    grid-column: -1 / 1;
    grid-row: auto;
    border-right: 0;
  }

  article {
    grid-column: span 2;
    grid-row-start: 6;
    grid-row-end: span 9;
    padding: 1em;
    border-right: 0;
    border-bottom: 2px solid var(--primary);
    padding-bottom: 0;
  }

  article h2 {
    font-size: 1.5rem;
  }

  article p {
    font-size: 1rem;
  }

  .spin {
    display: none;
  }

  form {
    grid-column: -1 / 1;
    /* no idea */
    grid-row-start: 15;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  input {
    padding: 0.1em;
    font-size: clamp(1.1rem, 0.9947rem + 0.4211vw, 1.5rem);
  }

  footer {
    display: block;
  }

  footer small {
    left: 0;
    bottom: 0.3rem;
  }

  footer span {
    bottom: 0;
  }
}
