@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 4fr 1fr;
  }

  .nav-item {
    grid-column: span 1;
    grid-row: 2;
  }

  .video {
    grid-column: span 4;
    grid-row: 3;
  }

  .nav-item:first-child {
    grid-column: span 4;
    grid-row: 1;
  }
}

@media (max-width: 650px) {
  html,
  body {
    height: 100%;
  }

  body {
    overflow: auto;
    padding: 0.25em;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 4fr 4fr;
  }

  /* each nav item spans 2 columns */
  .nav-item {
    grid-column: -1 / 1;
    grid-row: auto;
    border-right: 0;
    padding: 0.5em;
  }

  .video {
    grid-column: -1 / 1;
    grid-row: 6;
  }

  .transcript {
    grid-column: -1 / 1;
    grid-row: 7;
  }

  footer {
    display: block;
  }

  footer small {
    left: 0;
    bottom: 0.3rem;
  }

  footer span {
    bottom: 0;
  }
}
